@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #0a0a0a;
  --secondary-text: #242424ad;
  --secondary-button: #0a0a0ace;
  --brand-color: #eb4034;
  --card-color: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
